@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --head-bg: #131010;
  overflow: scroll; 
}

body {
  background-color: rgba(19, 16, 16, 1);
  color: #ffffff;
  background-size: 250px 250px;
  background-image:
          url("/topography.svg"); /* added the svg image */
}
/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent 
  } */
.header {
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;

}